[submodule "wecom-gpt"]
	path = wecom-gpt
	url = https://github.com/wandering-ai/wecom-gpt.git
[submodule "wecom-crypto"]
	path = wecom-crypto
	url = https://github.com/wandering-ai/wecom-crypto.git
[submodule "wecom-agent"]
	path = wecom-agent
	url = https://github.com/wandering-ai/wecom-agent.git
[submodule "zoo"]
	path = zoo
	url = https://github.com/wandering-ai/zoo.git
